<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UserInterfaceIntroSdeProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
		<filter-name>FilterLogin</filter-name>
		<filter-class>com.userinterface.introsde.filter.FilterLogin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterLogin</filter-name>
		<servlet-name>FitbitCallback</servlet-name>
		<servlet-name>FitbitSignin</servlet-name>
		<servlet-name>FitbitUserInfo</servlet-name>
		<servlet-name>ChatRequests</servlet-name>
		<servlet-name>PersonInformation</servlet-name>
		<servlet-name>SetLatLng</servlet-name>
		<servlet-name>LatLng</servlet-name>		
		<url-pattern>/ChatView.jsp</url-pattern>
		<url-pattern>/PersonInformation.jsp</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FitbitCallback</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.FitbitCallback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FitbitSignin</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.FitbitSignin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FitbitUserInfo</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.FitbitUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.Registration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatRequests</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.ChatRequests</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonInformation</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.PersonInformation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetLatLng</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.SetLatLng</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LatLng</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.LatLng</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.userinterface.introsde.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRequests</servlet-name>
    <url-pattern>/ChatRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetLatLng</servlet-name>
    <url-pattern>/SetLatLng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LatLng</servlet-name>
    <url-pattern>/LatLng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonInformation</servlet-name>
    <url-pattern>/PersonInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FitbitCallback</servlet-name>
    <url-pattern>/FitbitCallback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FitbitSignin</servlet-name>
    <url-pattern>/FitbitSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FitbitUserInfo</servlet-name>
    <url-pattern>/FitbitUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>